[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "de.g04eggx.app",
      "sha256_cert_fingerprints": [
        "HIER_DIE_SHA256_SIGNING_FINGERPRINT_AUS_DER_PLAY_CONSOLE_EINTRAGEN"
      ]
    }
  }
]
